a {
  text-decoration: none;
  color: black;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  padding: 20px;
  position: sticky;
}
.nav-logo {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.nav-logo-upper {
  font-weight: bold;
  font-size: 30px;
}
.nav-logo-lower {
  font-size: 15px;
  margin-top: -5px;
}
.nav-logo:hover {
  color: blue;
  cursor: pointer;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list-element {
  margin: 20px;
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.nav-list-element:hover {
  color: blue;
  cursor: pointer;
}

.nav-drawer-open {
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  position: absolute;
  left: 0;
  top: 0;
  height: 95vh;
  width: 100vw;
  background-color: aliceblue;
}

.nav-drawer-close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 3.6vw;
  margin-top: 2.7vh;
}

.nav-list-drawer {
  list-style: none;
  text-align: center;
}

.nav-list-element-drawer {
  margin-top: 20px;
  font-size: 25px;
  color: black;
  text-decoration: none;
}

.nav-list-element-drawer:hover {
  color: blue;
  cursor: pointer;
}
